<a href="https://colab.research.google.com/github/juanglondono-coder/deep-learning-final-ydl-air-pollution/blob/main/01_exploracion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv('train.csv')
test  = pd.read_csv('test.csv')

0. Identificación de variables

In [22]:
df = pd.read_csv('train.csv')  # o el nombre real

In [23]:
# Esta columna Unnamed: 0 es solo un índice viejo → la puedes borrar
df = df.drop(columns=['Unnamed: 0'])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6218 entries, 0 to 6217
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      6218 non-null   object
 1   CO(GT)        6218 non-null   float64
 2   PT08.S1(CO)   6218 non-null   float64
 3   NMHC(GT)      6218 non-null   int64
 4   C6H6(GT)      6218 non-null   float64
 5   NOx(GT)       6218 non-null   float64
 6   PT08.S3(NOx)  6218 non-null   float64
 7   NO2(GT)       6218 non-null   float64
 8   PT08.S4(NO2)  6218 non-null   float64
 9   PT08.S5(O3)   6218 non-null   float64
 10  T             6218 non-null   float64
 11  RH            6218 non-null   float64
 12  AH            6218 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 631.6+ KB

In [25]:
df.head()

,Datetime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,2.6,1360.00,150,11.881723,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
1,2004-03-10 19:00:00,2.0,1292.25,112,9.397165,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2,2004-03-10 20:00:00,2.2,1402.00,88,8.997817,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
3,2004-03-10 21:00:00,2.2,1375.50,80,9.228796,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
4,2004-03-10 22:00:00,1.6,1272.25,51,6.518224,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794

In [26]:
df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,6218.000000,6218.000000,6218.000000,6218.000000,6218.000000,6218.000000,6218.000000,6218.000000,6218.000000,6218.000000,6218.000000,6218.000000
mean,-44.910888,1097.619197,-140.285462,10.752109,106.154390,853.354066,31.334513,1587.471574,1005.298408,21.898364,47.229206,1.178060
std,85.426570,219.648345,165.886754,7.624613,232.436783,247.810278,130.417719,290.086998,377.588143,7.656470,17.137994,0.357896
min,-200.000000,647.250000,-200.000000,0.212798,-200.000000,322.000000,-200.000000,697.000000,261.000000,1.300000,9.175000,0.198757
25%,0.300000,934.312500,-200.000000,5.062370,25.000000,683.312500,33.000000,1393.562500,732.312500,16.250000,33.674999,0.917265
50%,1.400000,1061.500000,-200.000000,8.953194,100.500000,823.250000,81.000000,1563.500000,944.625000,21.375000,47.625000,1.138432
75%,2.500000,1229.187500,-200.000000,14.579057,202.750000,987.250000,115.000000,1751.187500,1237.000000,26.725000,60.075001,1.451793
max,11.900000,2039.750000,1189.000000,63.741476,1389.000000,2121.250000,288.000000,2775.000000,2522.250000,44.600000,87.174999,2.231036

1. Convertir Date-time a fecha y hora

In [27]:
df['Datetime'] = pd.to_datetime(df['Datetime'])
df = df.sort_values('Datetime')

2. Definir variable respuesta y variables explicatorias

In [28]:
target_col = 'NMHC(GT)'

feature_cols = [c for c in df.columns if c not in ['Datetime', target_col]]

3. Transformar varoles faltantes

In [31]:
cols_with_minus200 = ['CO(GT)', 'NMHC(GT)', 'NOx(GT)', 'NO2(GT)']  # puedes revisar cuáles tienen -200

for c in cols_with_minus200:
    df[c] = df[c].replace(-200, np.nan)

In [32]:
df[target_col].describe()

count     887.000000
mean      218.607666
std       206.615130
min         7.000000
25%        66.000000
50%       145.000000
75%       297.000000
max      1189.000000
Name: NMHC(GT), dtype: float64

In [33]:
df[target_col].isna().mean()

np.float64(0.8573496301061434)

4. Eliminar filas que no tengan datos de variable objetivo

In [34]:
df = df[~df[target_col].isna()].copy()